.footer {
  padding-top: 17px;
  padding-bottom: 15px;
}

.footer a {
  color: #4a4a4a;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 12px;
}

.footer p:not(:last-child) {
  margin-bottom: 0;
}

.footer p:first-child {
  margin-top: 5px;
}

#footer-links {
  font-size: 11px;
  opacity: 0.85;
}

#footer-icon {
  color: #4a4a4a;
  font-size: 22px;
}

#footer-icon:hover {
  color: black;
}
