
.review-body {
    margin: 25px 20%;
}

.review-header {
    text-align: center;
}

    .review-header > img {
        width: 20rem;
        margin-bottom: 20px;
    }

.review-content {
    text-align: center;
}

    .review-content > p {
        text-align: left;
        margin-bottom: 20px;
    }

    .review-content > img {
        margin-top: 20px;
        margin-bottom: 40px;
    }

#createdon {
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #review-body {
        margin: 30px;
        font-size: 14px;
    }
}