.review-card {
    padding-bottom: 10px;
}

.review-media-content {
    margin-top: 25px;
}

.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.review-column { 
    margin-bottom: -25px;
}

.review-content {
    margin-left: 35px;
    margin-right: 35px;
}

/* Passed in content overrides */

.review-content > p {
    text-align: left;
    margin-bottom: 15px;
}

.review-content > img {
    margin-top: 10px;
    margin-bottom: 25px;
}

.review-content pre {
    margin-bottom: 20px;
}

.review-content .notification:not(:last-child) {
    margin-bottom: 1rem;
}

.review-content > table {
    margin: 20px auto;
}

.review-content > h1 {
    text-align: left;
    text-decoration: underline;
}

.review-content > .tile {
    margin-top: 15px;
}

.tile.is-ancestor:last-child {
    margin-bottom: 0;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .review-column {
        padding-left: 0;
        padding-right: 0;
    }

    .review-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Passed in content overrides */
    .review-content > p {
        font-size: 16px;
    }
    
    .review-tiles {
        padding-left: 20px;
        padding-right: 20px;
    }
}