# UI dependencies/build artifacts
/node_modules
/.pnp
.pnp.js
/coverage
/build
.eslintcache

# Monorepo paths
app/ui/node_modules
app/ui/.pnp
app/ui/.pnp.js
app/ui/coverage
app/ui/build
app/ui/.eslintcache

# Local env files
.env.docker
.env.local
.env.development.local
.env.test.local
.env.production.local
app/ui/.env.local
app/ui/.env.development.local
app/ui/.env.test.local
app/ui/.env.production.local

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
