.book-form-container {
    padding-top: 30px;
}

.add-new-image {
    text-align: center;
}

.radio-container .radio {
    margin-left: 3px;
}

.radio-container > input:not(:first-child) {
    margin-left: 10px;
}

.image-header-container {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    border: 3px solid #ccc;
    background-color: #F0F2F4;
}

.plus-icon {
    color: #3273dc;
    margin-left: 12.5px;
    margin-top: 11px;
}

.cancel-button {
    margin-left: 15px;
}