<div class='tile is-ancestor has-text-centered review-tiles'>
    <div class='tile is-parent'>
        <article class='tile is-child box'>
            <p class='title'>439k</p>
            <p class='subtitle'>Users</p>
        </article>
    </div>
    <div class='tile is-parent'>
        <article class='tile is-child box'>
            <p class='title'>59k</p>
            <p class='subtitle'>Products</p>
        </article>
    </div>
    <div class='tile is-parent'>
        <article class='tile is-child box'>
            <p class='title'>3.4k</p>
            <p class='subtitle'>Open Orders</p>
        </article>
    </div>
    <div class='tile is-parent'>
        <article class='tile is-child box'>
            <p class='title'>19</p>
            <p class='subtitle'>Exceptions</p>
        </article>
    </div>
</div>