#search-books-container {
  margin: 30px 15px;
}
#search-books-container > button {
  width: 100%;
}

#search-books-container > button:focus {
  outline: 0;
}

#search-books-container .column {
  margin-top: auto;
  margin-bottom: auto;
}

#search-image-column {
  padding: 0;
}

#search-image-column > img {
  border-radius: 3px;
}

.custom-radio {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #363636;
  border-radius: 5px;
  padding: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.custom-radio:hover {
  cursor: pointer;
  border-color: #b5b5b5;
  color: #363636;
}

.custom-radio-selected {
  background-color: #6ac58a;
  border-color: #6ac58a;
  color: white !important;
}

.custom-radio-input {
  vertical-align: initial;
}

#no-search-results {
  margin-top: 20px;
}

#add-manually {
  text-align: center;
}

.search-dropdown {
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .custom-radio {
    line-height: initial;
  }
}
