.admin-image-header-container {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -20px;
    border-radius: 50%;
    border: 3px solid #ccc;
    background-color: #F0F2F4;
}

.admin-icon {
    color: #3273dc;
    margin-left: 9.5px;
    margin-top: 11px;
}