.admin-table {
    margin-bottom: 20px;
}

.modal-actions {
    margin-top: 20px;
    float: right;
}

.modal-actions > #cancel {
    margin-left: 10px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .admin-table {
        overflow: auto;
    }
}