#review-media-content {
  margin-top: 25px;
}

#review-content {
  margin-left: 35px;
  margin-right: 35px;
}

#review-content > p {
  text-align: left;
  margin-bottom: 15px;
}

#tag-secondary {
  background-color: #3273dc;
  color: #fff;
}

hr:first-child {
  margin-top: 0;
}

.review-subtitle {
  font-size: 20px;
}

.summary-text {
  font-weight: 100;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  #review-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  #review-content > p {
    font-size: 16px;
  }

  .summary-text {
    font-weight: 400;
  }
}
