.desktop-nav-button {
    background-color: rgb(36, 41, 46);
    color: hsla(0, 0%, 100%, .75);
}

    .desktop-nav-button:hover {
        color: hsla(0, 0%, 100%, .75);
        background-color: rgb(41, 47, 53);
        border-color: #dbdbdb;
    }

    .desktop-nav-button:focus {
        color: hsla(0, 0%, 100%, .75);
        border-color: initial;
        box-shadow: none;
    }

    .desktop-nav-button.is-focused:not(:active), .desktop-nav-button:focus:not(:active) {
        box-shadow: none;
    }

#desktop-nav {
    background-color: rgb(36, 41, 46);
}

    #desktop-nav > .container {
        display: flex;
    }

    #desktop-nav .navbar-menu {
        background-color: rgb(36, 41, 46);
        display: initial;
        flex-grow: 1;
    }

    #desktop-nav .navbar-end {
        display: flex;
        justify-content: flex-end;
    }

#desktop-logout {
    border: none;
    cursor: pointer;
    background-color: initial;
}
    
    #desktop-logout:hover {
        background-color: #f5f5f5;
        color: #0a0a0a;
    }

    #desktop-logout:focus {
        outline : none;
    }

@media only screen and (max-width: 1024px) {
    #desktop-nav .dropdown {
        margin-right: 15px;
    }
}