.user-menu-actions {
    margin-top: 6px;
}

#nav-icon {
    filter: grayscale(1);
}

@media only screen and (min-width: 1024px) {
    #mobile-options {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #desktop-options {
        display: none;
    }
}