
.review-tile {
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    transition: all 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out; /* opera */
    -ms-transition: 0.2s ease-in-out; /* IE 10 */
    -moz-transition: 0.2s ease-in-out; /* Firefox */
    -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
} 

.review-tile:hover {
    transform:scale(1.1);
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

#parent {
    margin: auto 80px;
}

.child {
    margin-top : 30px;
    padding: 1.25rem;
}

.card-content > .subtitle {
    margin-bottom: 15px;
}

#progress-container {
    margin: auto 20px;
    margin-top: 40px;
    text-align: center;
}

    #progress-container > p {
        margin: 0;
    }

#tile-content {
    font-size: 12px;
    margin-bottom : 1rem;
}

.tags .tag {
    margin-bottom: 0;
}

.review-tile{
    border-radius: 5px;
}

    .review-tile img {
        border-radius: 5px 5px 0 0;
    }

/* Mobile */
@media only screen and (max-width: 600px) {
    #parent {
        margin: auto 20px;
    }

    .child {
        margin-top: 0;
        margin-bottom: 10px;
        padding: .75rem;
    }

    #progress-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .review-tile {
        box-shadow: none;
        max-width: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .review-tile:hover {
        transform: none;
        box-shadow: none;
    }

    #tile-content {
        display: none;
    }
}

/* Between mobile and desktop */
@media only screen and (min-width: 600px) and (max-width: 769px) {
    .child {
        margin-left: auto;
        margin-right: auto;
        max-width: 16rem;
    }
}