
.card {
    transition: all 0.25s;
    -o-transition: 0.25s linear; /* opera */
    -ms-transition: 0.25s linear; /* IE 10 */
    -moz-transition: 0.25s linear; /* Firefox */
    -webkit-transition: 0.25s linear; /*safari and chrome */
}

.card:hover {
    transform:scale(1.1);
}

#parent {
    margin: auto 80px;
}

.child {
    margin-top : 30px;
    padding: 1.25rem;
}

#progress-container {
    margin: auto 20px;
    margin-top: 40px;
    text-align: center;
}

    #progress-container > p {
        margin: 0;
    }

#tile-content {
    font-size: 12px;
    margin-bottom : 1rem;
}

#tile-createdon {
    margin: 0; 
    font-size: 12px; 
    font-weight: bold;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #parent {
        margin: auto 30px;
    }

    #progress-container {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Between mobile and desktop */
@media only screen and (min-width: 600px) and (max-width: 769px) {
    .child {
        margin-left: auto;
        margin-right: auto;
        max-width: 16rem;
    }
}

.spinner {
    margin: 36vh auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
    .spinner > div {
        background-color: #333;
        height: 100%;
        width: 6px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
  
    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
  
    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
  
    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
  
    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
  
    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
    }
  
    @keyframes sk-stretchdelay {
        0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
        }
    }
