
.home-tile {
    transition: transform .3s ease-out, box-shadow .3s ease-out, -webkit-transform .3s ease-out, -webkit-box-shadow .3s ease-out;
    box-shadow: 0 1px 1px 1px rgba(10, 16, 34, .08);
    border-radius: 6px;
} 

.home-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(10,16,34,.15), 0 0 0 transparent;
    transform: translateY(-15px) translateZ(0);
}

    .home-tile img {
        border-radius: 5px 5px 0 0;
    }

#parent {
    margin: auto 80px;
}

.child {
    padding: 1.25rem;
}

.home-card-content > .title {
    text-align: center;
    padding-bottom: 2px;
}

.home-card-content > .subtitle {
    margin-bottom: 15px;
    text-align: center;
}

.home-card-content > .handle-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#progress-container {
    margin: auto 20px;
    margin-top: 30px;
    text-align: center;
}

    #progress-container > p {
        margin: 0;
    }

#tile-content {
    font-size: 12px;
    margin-bottom : 1rem;
}

.home-content > .tags > .tag {
    margin-bottom: 0;
}

.home-menu-items {
    margin: 20px 0;
    text-align: center;
}

    .home-menu-items button {
        box-shadow: 0 1px 1px 1px rgba(10, 16, 34, .08);
    }

    .home-menu-items .button:focus:not(:active) {
        box-shadow: 0 1px 1px 1px rgba(10, 16, 34, .08);
    }

    .home-menu-items .button:focus {
        border-color: #dbdbdb;
    }

    .home-menu-items .selected {
        background: #F0F2F4;
    }

.home-search {
    text-align: center;
    margin-bottom: 20px;
}

    .home-search input { 
        max-width: 50%;
    }

/* Mobile */
@media only screen and (max-width: 600px) {
    #parent {
        margin: auto 20px;
    }

    .child {
        margin-top: 0;
        margin-bottom: 5px;
        padding: .75rem;
    }

    #progress-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .home-tile {
        box-shadow: none;
        max-width: 13rem;
        margin-left: auto;
        margin-right: auto;
    }

    .home-tile:hover {
        transform: none;
        box-shadow: none;
    }

    #tile-content {
        display: none;
    }

    .home-card-content {
        padding: 1rem;
        padding-bottom: 1.5rem;
    }

        .home-card-content > .subtitle {
            font-size: 13px;
        }

    .home-menu-items {
        margin-bottom: 25px;
    }

    .home-search input {
        max-width: 100%;
    }
}

/* Between mobile and desktop */
@media only screen and (min-width: 600px) and (max-width: 769px) {
    .child {
        margin-left: auto;
        margin-right: auto;
        max-width: 16rem;
    }
}