.header-content > div > canvas {
    max-height: 20vh;
    background-color:  rgb(37, 45, 63);
    background-image: url('/images/fa_book.png');
    background-size: 5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}