.footer {
    padding-top: 17px;
    padding-bottom: 15px;
}

.footer-icon {
    color: #4a4a4a;
    font-size: 26px;
}
.footer-icon:hover {
    color: black;
}

.text {
    font-size: 12px;
}

.content p:not(:last-child) {
    margin-bottom: 0;
}

.content p:first-child {
    margin-top: 5px;
}