.footer {
    padding-top: 17px;
    padding-bottom: 15px;
}

    .footer a {
        color: #4a4a4a;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .footer p {
        font-size: 12px;
    }

    .footer p:not(:last-child) {
        margin-bottom: 0;
    }

    .footer p:first-child {
        margin-top: 5px;
    }

#footer-icon {
    color: #4a4a4a;
    font-size: 22px;
}

#footer-icon:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    .footer {
        background-color: rgba(0, 0, 0, 0.92);
        color: #f5f5f7;
    }

    #footer-icon {
        color: #f5f5f7;
    }

        .footer a {
            color: #f5f5f7;
        }
}