.footer {
    padding-top: 17px;
    padding-bottom: 15px;
}

    .footer a {
        color: #4a4a4a;
    }

    .footer a:hover {
        text-decoration: underline;
    }

.footer-icon {
    color: #4a4a4a;
    font-size: 22px;
}
.footer-icon:hover {
    color: black;
}

.text {
    font-size: 12px;
}

.content p:not(:last-child) {
    margin-bottom: 0;
}

.content p:first-child {
    margin-top: 5px;
}