.screen-content {
  min-height: 100vh;
}

.error-container {
  margin-top: 30px;
}

.form-container {
  padding-top: 30px;
}

.cancel-button {
  margin-left: 15px;
}

.header-background .card-header, .card.is-card-widget .card-header {
  background-color: silver;
}

@keyframes fadeIn {
  from { 
      opacity: 0; 
  }
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .custom-label, .custom-label:not(:last-child) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .custom-label:first-child {
    margin-top: 0;
  }
}