.book-action-content {
    text-align: center;
}

.book-action-content .title {
    margin-top: 1.5rem;
}

.admin-table {
    margin-bottom: 20px;
}

.password-modal-actions {
    margin-top: 20px;
}

.password-modal-actions > #cancel {
    margin-left: 10px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .admin-table {
        overflow: auto;
    }
}